<!doctype html>
<html>

	<head>
		<meta charset="utf-8"/>
		<title>Backbone Mobile Flickr App</title>
		<link rel="stylesheet" media="all" href=""/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		
		<link rel="stylesheet"  href="http://code.jquery.com/mobile/1.0a4.1/jquery.mobile-1.0a4.1.min.css" />
		<link rel="stylesheet"  href="css/style.css" />
	</head>
	
	<body lang="en">
		
		
		<div data-role="page" data-theme="b">
			
			<div data-role="header">
				<h1>Backbone Mobile Search with Flickr</h1>
			</div><!-- /header -->

				
			<div data-role="content">
	    		<div id="appview">
		
					<form method="post" action="#" id='queryForm' name="queryForm" onsubmit="return false">
								<div data-role="fieldcontain">
									<label for="search">Search for:</label>
				        			<input id="searchbox" type="search" name="searchbox" />
								</div>
					</form>
			
					
					<div data-role="fieldcontain">
					<label for="sortBy" class="select ui-select">Search by:</label>
					<select id="sortBy" data-native-menu="false">
			  			<option value="interestingness-asc" selected>Interesting</option>
						<option value="relevance">Relevance</option>
			  			<option value="date-posted-asc">Date Posted</option>
					</select>
					
					<fieldset class="ui-grid-a">
						<div class="ui-block-a"><a href="#" id="prevSet" data-role="button">Previous</a></div>
						<div class="ui-block-b"><a href="#" id="nextSet" data-role="button">Next</a></div>
					</fieldset>
						<div class="search-meta">
								<p>Information regarding your search will be displayed here.</p>
						</div>
					</div>
					
	        		<div id="newslist">
	        		</div>
	
					<div class="ui-lightbox">	
					</div>
					
				
		
	    	</div>
		</div><!-- /content -->
		
	
		
	
	<div data-role="footer">
			<h4>A Backbone, Underscore, Micro-Templating, jQuery Mobile Application</h4>
		</div><!-- /footer -->
	   

	    <script type="text/template" id="newslistul">
			<ul>
            <% _.each( news, function( item, i ){ %>
                <li>
<a class='ui-result' title='<%= item.get("title") %>' href='<%= 'http://farm' + item.get("farm") + '.static.flickr.com/' + item.get("server") + '/' + item.get("id") + '_' + item.get("secret") + '_m.jpg' %>'>
				<img title="<%= item.get("title") %>" src="<%= 'http://farm' + item.get("farm") + '.static.flickr.com/' + item.get("server") + '/' + item.get("id") + '_' + item.get("secret") + '_s.jpg' %>"/></a>
                </li>
            <% }); %>
            </ul>
        </script>
    

		<script type="text/javascript" src="http://ajax.cdnjs.com/ajax/libs/labjs/1.2.0/LAB.min.js"></script>
		<script type="text/javascript">
		$LAB
		.script("http://ajax.cdnjs.com/ajax/libs/json2/20110223/json2.js").wait()
		.script("https://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js")
		.script("http://code.jquery.com/mobile/1.0a4.1/jquery.mobile-1.0a4.1.min.js").wait(function(){
			/*
			This is meant as a global config option for end users to disable hashchange listening 
			(as opposed to urlHistory.listeningEnabled, which is an internal toggle)
			*/
			$.mobile.hashListeningEnabled = false;
		})
		.script("http://ajax.cdnjs.com/ajax/libs/underscore.js/1.1.4/underscore-min.js")
		.script("http://ajax.cdnjs.com/ajax/libs/backbone.js/0.3.3/backbone-min.js").wait()
		.script("app/controllers/controller.js")
		.script("app/models/searchentry.js")
		.script("app/models/searchcollection.js")
		.script("app/plugins/jquery.scrollTo.js")
		.script("app/views/searchlist.js")
		.script("app/views/appview.js").wait()
		.script("app/app.js").wait()
		.script("app/views/domready.js");
		</script>
		
		<div class="ui-tint">
		</div>
				
	</body>
</html>